# Database Credentials für Docker
MYSQL_ROOT_PASSWORD=rootpassword123
MYSQL_USER=quickpoll
MYSQL_PASSWORD=password123

# App Configuration
AUTH_SECRET=secret
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# If using docker
NODE_ENV="development"
DEEPL_API_KEY=""
ADMIN_EMAIL=admin@quickpoll.de
ADMIN_PASSWORD=secure123
ADMIN_NAME=QuickPoll Admin
